@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Général */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a:link {
    text-decoration: none;
    color: #cf5c22;
}

li {
    text-decoration: none;
    list-style-type: none;
}

body {
    font-size: 14px;
    background-color: #fff;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}
/* NavBar */
nav{
    background: #ffffff;
    height: 90px;
    width: 100%;
}


nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a:not(.logo){
    color: #000000;
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
nav ul li a:hover{
    background: #e24c03;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #000000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1256px){
    .checkbtn{
        display: block;
    }
    .logo img{
        width: 40%;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #ffffff;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media screen and (max-width: 758px){
    .logo img{
        width: 400px;
    }
}
@media screen and (max-width: 500px){
    .logo img{
        width: 300px;
    }
}
@media screen and (max-width: 500px){
    .logo img{
        width: 50%;
        padding-top: 30px;
    }
    nav{
        height: 80px;
    }
}
/* Fin NavBar */


/* Accueil */
.accueil_body{
    display: flex;
    justify-content: center;
}
.accueil_body_texte_pc {;
    font-size: 17px;
    font-family: Hind, sans-serif;
    font-weight: 300;
    color: #ffffff;
    line-height: 200%;
    letter-spacing: 4px;
    text-align: left;
    background: #161616;
    padding: 1% 15%;
}

.accueil_body_texte_pc a {
    color: #ffffff;
    font-weight: 700;
}

.accueil_body_texte_pc a:hover {
    background: #ffffff;
    color: #000000;
    text-decoration: underline;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.accueil_body_final {
    margin: 40px 200px 100px;
    text-align: center;
}
.accueil_body_final p{
    margin-bottom: 50px;
    font-size: 18px;
    font-family: hind, sans-serif;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 3px;
}
.accueil_body_final_rejoignez{
    letter-spacing: 6px;
    color: #ff5800;
    background: #161616;
    padding: 10px 20px;
    font-family: Hind, sans-serif;
}
.accueil_body_final_rejoignez:hover{
    color: #161616;
    background:#ff5800;
}

footer .fa-copyright{
    color: whitesmoke;
}
.footer-menu-text a, .footer-menu-text p{
    color: whitesmoke;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    display: inline-block;
}
footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: #373636;
    padding: 10px 8%;
}
.footer-menu-text{
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
}
.footer-menu-text a{
    display: inline-block;
}
.footer-menu-text p{
    display: inline-block;
}
.footer-menu-text a:hover{
    color: #ff5700;
}

@media screen and (max-width: 330px){
    .accueil_body_texte_pc .accueil_body_final p,.accueil_body_final a,.accueil_body_final h1{
        font-size: 15px;
    }
}
@media screen and (max-width: 876px){
    .accueil_body_texte_pc{
        width: 100%;
        text-align:center;
        font-size: 25px;
    }
    .accueil_body_final{
        width: 100%;
        text-align: center;
        margin: 40px 1px 100px;
    }
    .accueil_body_final_rejoignez{
        letter-spacing: 0px;
        border-radius: 1%;
        padding: 10px 10px;

    }

    }
@media screen and (min-width: 876px) and (max-width: 1024px){
    .accueil_body_texte_pc{
        width: 80%;
        text-align:center;
        font-size: 25px;
    }

}



/* Début PAGES ASSOCIATION */

.association_container{
    background-color: white;


}
.slide1{
    display: flex;
    background-image: url("https://www.galerie-com.com/grand_img/0878501001243372876.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
}
.slide2{
    display: flex;
    justify-content: flex-end;
    background-image: url("https://images.pexels.com/photos/1568804/pexels-photo-1568804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%;
}
.slide3{
    display: flex;
    justify-content: flex-start;
    background-image: url("https://images.pexels.com/photos/5728348/pexels-photo-5728348.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-repeat: no-repeat;
    background-position:  right;
    background-size:  50% ;

}
.slide4{
    display: flex;
    justify-content: flex-end;
    background-image: url("https://www.lapenderiedechloe.com/wp-content/uploads/2019/04/association-course-a-pied.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%;
}
.association_container .slide-box{
    width: 50%;
    height: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    JUSTIFY-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;


}

.slide-box-top{
    padding-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.slide-box h2{
    font-family: Hind, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.slide-box h1{
    font-family: Poppins, sans-serif;
    font-size: 110px;
    line-height: 130px;
    font-weight: 900;
    margin-top: -4%;
}
.slide-box p{
    padding: 0px 60px;
    text-align: left;
    font-family: Hind, sans-serif;
    font-size: 15px;
    font-weight: 600;
    opacity: 75%;
    margin-top: -30px;
    line-height: 130%;


}


.slide1 .slide-box,  .slide3 .slide-box{
    background-color: black;
    color: white;
}

@media screen and (min-width: 1800px){
    .association_container .slide-box{
        height: 566px;
    }
}
@media screen and (min-width: 2000px){
    .association_container .slide-box{
        height: 700px;
    }
}
@media screen and (max-width: 1024px){
    .association_container .slide-box{
        height: 500px;
        width: 100%;
        padding-bottom: 100px;
    }
    .slide1, .slide2, .slide3, .slide4{
        background-position: bottom;
        background-size: 100%;
        padding-bottom: 65%;
    }
}


/* Inscription début*/

.inscription_container{
    background-image: url("img/inscription_course.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20vh 20vh 9vh 20vh;


}
input:focus, button:focus, textarea:focus, textarea:focus, input:active, button:active, textarea:active, input:active, input, textarea, button, select:focus{
    outline: none !important;
    outline: 0 !important;
}
.form-inscription{
    background-color: white;
    width: 40%;
    margin-left: -40px;
    margin-top: -20px;
    padding: 50px 50px 20px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
}
.form-group-1{
    padding-top: 20px;
}
form h1{
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
}
.inscription_cocher{
    font-family: Hind, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 110%;

}
input, select, textarea{
    width: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid #ebebeb;
    padding: 5px 0px;
    margin-bottom: 31px;
    font-family: Hind, sans-serif;
}

input:focus, textarea:focus,button:focus{
    color: #c9580c;
    font-weight: 500;
}

.form-submit-button{
    width: 50%;
    margin-top: 20px;
    background-color: black;
    color: whitesmoke;
    border:none;
    outline:none;
    cursor: pointer;
    font-family: Hind, sans-serif;
    font-weight: 300;

}
.form-submit-button:hover{
    color: #161616;
    background:#ff5800;
    font-weight: 400;
}
@media screen and (max-width: 1500px){
    .form-inscription{
        width: 70%;
    }
}
@media screen and (max-width: 1252px){
    .form-inscription{
        width: 100%;

    }
    .inscription_container{
        display: flex;
        justify-content: center;
        background-position: center;
        align-items: center;
        align-content: center;
        padding: 10vh;
    }
}
@media screen and (max-width: 764px){
    .form-inscription{
        width: 100%;
        margin: 0;
    }
    .inscription_container{
        padding: 2vh;
    }
}
/* Début page connexion */

.connexion_container{
    background-image: url("img/connexion_natation.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30vh;
    DISPLAY: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.form-connexion{
    background-color: #fdfdfd;
    background-image: url("https://gspcv.files.wordpress.com/2016/05/icone-natation.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center left 90%;
    width: 60%;
    padding: 50px 50px 20px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);

}
.form-connexion input, .form-connexion select {
    width: 50%;
}

@media screen and (max-width: 1500px){
    .form-connexion{
        width: 70%;
    }
}
@media screen and (max-width: 1340px){
    .form-connexion{
        width: 90%;

    }
    .connexion_container{
        padding: 30vh 20vh;
    }
}
@media screen and (max-width: 1024px){
    .form-connexion{
        width: 80%;
    }
    .connexion_container{
        padding: 30vh 0vh;
    }
}
@media screen and (max-width: 500px){
    .form-connexion{
        width: 80%;
        background-image: none;
    }
    .form-connexion input, .form-connexion select {
        width: 100%;
    }

    .connexion_container{
        padding: 30vh 0vh;
    }
}
@media screen and (max-width: 380px){
    .form-connexion .form-submit-button{
        width: 100%;
    }
}
/* Début page de contact */

.contact_container{
    background-image: url("https://www.tipandshaft.com/wp-content/uploads/elementor/thumbs/Alex-Thomson-disputera-la-course-au-large-du-vendee-globe-sur-son-imoca-hugo-boss-ovawwyokvex74vf95x05bbqy8yxekpnatjicf2zo3k.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "form plan"
    "form plan";

    align-items: center;
}

.maps_contact{
    grid-area: plan;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    width: 80%;
    margin-left: 30px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 33px 0px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 33px 0px rgb(0, 0, 0);
    box-shadow: 0px 0px 33px 0px rgb(0, 0, 0);
    border: 4px solid rgba(255, 255, 255, 0.2);
    font-family : Hind, sans-serif;
    font-size: 14px;
    text-align: justify;

}
.maps_contact img{
    grid-area: 1 / 2 / 5 / 1;
    height: 100%;

}
.maps_contact .adresse{
    grid-area: 1 / 3 / 2 / 6;
    margin-left: 20px;
    padding-top: 30px;

}
.maps_contact .tel{
    grid-area: 2 / 3 / 3 / 6;
    margin-left: 20px;
    padding-top: 30px;

}
.maps_contact .mail{
    grid-area: 3 /3 / 4 / 6;
    margin-left: 20px;
    padding-top: 30px;
}

.form_contact{
    background-color: #ffffff;
    margin-left: 100px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-image: url("img/logowc2.png");
    background-repeat: no-repeat;
    background-size: 5.5%;
    background-position: 30px;
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 33px 0px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 33px 0px rgb(0, 0, 0);
    box-shadow: 0px 0px 33px 0px rgb(0, 0, 0);
    border: 4px solid rgba(255, 255, 255, 0.2);
    font-family : Hind, sans-serif;
    font-size: 14px;
    text-align: left;
}
.form_contact .form-group-1{
    width: 140%;
}
.logo{
    padding: 25px 10px;
}
.logo:hover{
    background:white;
    transition: .5s;
}


